[Desktop Entry]
Type=Application
Name=蓝天系键盘 ARGB
Comment=Clevo/Insyde keyboard RGB controller
Exec=/home/qcqcqc/clevo-keyboard-led-linux/app/run-clevo-led-gui.sh
Icon=preferences-desktop-keyboard
Terminal=false
Categories=Settings;HardwareSettings;
